body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #0c367a;
}

.hero {


  background-image: url("./img/surfer.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  overflow: auto;
}

.main {
  /*width: calc(100% / 2 - 1rem 1rem);*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 50rem;
}

.footer {
  /*max-width: 65rem;*/
    /*margin-left: 6%;*/
  margin-top: 4rem;
  /*border: 1px solid;*/
}

.hero-container {
  max-width: 65rem;
  display: flex;

}

.nav__container  {
  max-width: 50rem;
  margin: auto;
}


.top-nav {
  display: flex;
  justify-content: space-between;
  overflow: auto;
  align-items: center;

  position: relative;
}






.top-nav a {
  color: inherit;
  text-decoration: none;
}

.top-nav__item {
  margin: 0 0.5rem;
  list-style-type: none;
}

.top-nav-img {

  border-radius: 50%;
  height: 2em;
  vertical-align: middle;
  /*margin-right: 3rem;*/
}

.top-nav__logo--text {
  /*display: flex;*/
  margin: 0;
  padding-left: 1rem;

}

.top-nav__links  {
  display: flex;


}

.headline {
  text-align: center;
  font-size: 3rem;
}

.post-author {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  text-align: center;
}

.post-author img {
  border-radius: 50%;
}

.post-author a {
  text-decoration: none;
  margin-left: 1rem;
  color: #0c367a;
}

.post-date {
  margin-left: 1rem;
}

.hero-big__text {
  margin-bottom: 1em;
  font-size: 5em;
  text-align: center;
}

.hero-small__text {
  text-align: center;
  margin-bottom: 2rem;
}

.footer-headline {
  border-top: 1px solid;
  text-align: center;
  font-size: 2em;
  color: #0c367a;
}

.side-bar_heading {
  text-align: center;
  margin-left: 4rem;
  margin-top: 4rem;
}

.side-bar {
  display: flex;
  justify-content: center;
}

.body-left {
  margin-top: 2rem;
  /*border: 1px solid;*/
}

.img {
  max-width: 100%;
}

.img-parent {
  max-width: 10%;
}

.body-right {
  margin-top: 2rem;
  /*border: 1px solid;*/
}

.auth_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  margin-left: 2rem;
  position: relative;
}

.auth_profile img {
  border-radius: 50%;
  max-width: 20%;
}

.img-parent_sidebar {
  /*margin-top: 1rem;*/
  max-width: 35%;
}

.social-btn {
  display: flex;
  align-items: center;
  margin-left: 4rem;
  margin-top: 1rem;
  justify-content: center;

}

button {
  background: none;
  border: none;
  margin-right: 2rem;
}

.ad-img-parent {
  margin-top: 1rem;
  margin-left: 6rem;
  position: relative;


}

.ad-img-child  {
  max-width: 80%;
}

.ad {
  position: relative;
  left: 8rem;
  color: gray;
  text-decoration:

}

.click-bait {
  margin-left: .5rem;
  padding-left: 2rem;
  font-size: 2rem;
  color: #0c367a;
  border-left: 1px solid;
}

.btn {
  display: flex;
  justify-content: center;
}

.side-bar {
  color: #0c367a;
}

.side-text  {
  text-align: center;

}

.more-content  {
  /*max-width: 65rem;*/
  /*margin-left: 6%;*/
}

.cool-posts {
  /*border: 1px solid;*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.cool-posts-img  {

  width: calc(100% / 4);
  position: relative;
}

.cool-posts-img::before {
  display: block;
  content: "";
  padding-top: calc(100% * 9 / 16);
}


.img-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.cool-posts__text {
  position: absolute;
  top: 8.5rem;
  color: #426bf4;
  z-index: 10;
}

.bot-nav__container  {
  display: flex;

  margin: auto;
}

.bot-nav {
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  height: 8rem;
  align-items: center;
  padding: 1rem 2rem;

}

.bot-nav a {
  color: inherit;
  text-decoration: none;
}

.bot-nav_item {
  display: flex;
  /*vertical-align: middle;*/
  text-align: center;
  margin: auto;
  padding-right: 1rem;
}

.bot-nav img {
  /*border-radius: 50%;*/
  height: 2em;
  vertical-align: middle;
}

.bot-nav__logo {
  display: flex;
  margin: 0;
}

.bot-nav__links  {
  display: flex;

  align-items: center;
  padding-right: 1rem;

  list-style-type: none;
  text-decoration: none;

}

.footer-container {
  max-width: 100%;
  margin: 0;
  background: #0c367a;
  color: white;
}

.bot-nav__logo--text  {
  margin: 0;


}

.wrapper  {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 65rem;
  margin: 0;
}
